.mdl-layout__header {
  position: fixed;
}

.mdl-layout__header-row {
  padding: 0 40px;
}

.mdl-layout-title {
  padding: 0px 12px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 10px;
}

.mdl-layout-title .strong {
  font-size: 20px;
}
